@font-face {
    font-family: 'Myriad';
    src: url('Myriad-Tilt.woff2') format('woff2'),
        url('Myriad-Tilt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
